<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center title mt-5">
      <h1>予約詳細画面</h1>
    </div>
    <div class="col-6 mt-3 text-center content">
      <div>
        <label><strong>日付:</strong></label>
        <p style="display:inline;"><%= @reservation.day %></p>
      </div>
      <div>
        <label><strong>時間:</strong></label>
        <p style="display:inline;"><%= @reservation.time %></p>
      </div>
      <div>
        <label><strong>メニュー:</strong></label>
        <% if @reservation.menus.present? %>
          <% @reservation.menus.each do |menu| %>
            <p style="display:inline"><%= menu.name %></p>
          <% end %>
        <% else %>
          <p style="display:inline">メニューが選択されていません</p>
        <% end %>
    　</div>
    </div>
    <div class="col-12 text-right">
      <%= link_to '予約画面に戻る', reservations_path %>
    </div>
  </div>
</div>
